/.vscode
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/build
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/main.exe
/.cache
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/commands/vc140.pdb
/*.ilk
/*.obj
/*.pdb
/.clangd
/tables